a, a:hover {
  color: #EBBA16;
}


/* Back to top button */
.back-to-top {
  background: #EBBA16;
  color: #fff;
}


.back-to-top:focus {
  background: #EBBA16;
  color: #fff;
}

.back-to-top:hover {
  background: #DAA905;
  color: #fff;
}

.navbar-default {
  background: #EBBA16;
}

.form-control:focus {
  border-color: #EBBA16;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #EBBA16;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #EBBA16;
}

.service .carousel-indicators .active {
  background: #EBBA16;
}

.btn-theme {
  background: #EBBA16;
}

.contact-widget i {
  color: #EBBA16;
}

footer{
  background: #EBBA16;

}
